body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

body {
    padding: 20px;
}
main {
    width: 100%;
    max-width: 280px;
}

.title {
}
.link {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4pxs;
    color: #333;
    text-decoration: none;
}
.link:hover {
    background-color: #ccc;
}
